<div class="training-container">
  <div class="training-header">
    <h2>Trainingsplan erstellen</h2>
    <app-menu-button></app-menu-button>
  </div>

  <div *ngIf="step === 1" class="step-container">
    <label for="training-name">Trainingsname</label>
    <input type="text" id="training-name" placeholder="Name des Trainings" [(ngModel)]="trainingName" [ngModelOptions]="{standalone: true}">

    <label for="training-description">Beschreibung</label>
    <textarea id="training-description" placeholder="Beschreibung des Trainings" [(ngModel)]="trainingDescription" [ngModelOptions]="{standalone: true}"></textarea>

    <h3>Wie oft möchtest du pro Woche trainieren?</h3>
    <div class="day-selection">
      <button *ngFor="let day of [1, 2, 3, 4, 5, 6, 7]"
              (click)="setTrainingDays(day)"
              [ngClass]="{'selected': day === selectedTrainingDays}">
        {{ day }}x pro Woche
      </button>
    </div>
    <button class="btn next-btn" [disabled]="!trainingName || !trainingDescription || !selectedTrainingDays" (click)="nextStep()">Weiter</button>
  </div>

  <div *ngIf="step === 2" class="step-container">
    <h3>Wähle die Tage, an denen du trainieren möchtest ({{ selectedTrainingDays }} Tage)</h3>
    <div class="day-selection">
      <button *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]; let i = index"
              (click)="toggleTrainingDay(i)"
              [ngClass]="{'selected': selectedTrainingDaysList.includes(i)}"
              [disabled]="selectedTrainingDaysList.length >= selectedTrainingDays && !selectedTrainingDaysList.includes(i)">
        {{ dayNames[i] }}
      </button>
    </div>
    <button class="btn next-btn" [disabled]="selectedTrainingDaysList.length !== selectedTrainingDays" (click)="nextStep()">Weiter</button>
  </div>

  <div *ngIf="step === 3" class="step-container">
    <h3>Wähle Muskelgruppen für jeden Trainingstag</h3>
    <div class="day-box-wrapper">
      <div *ngFor="let day of selectedTrainingDaysList">
        <div class="day-box">
          <h4>{{ dayNames[day] }}</h4>
          <div *ngFor="let muscle of availableMuscleGroups">
            <input type="checkbox" [(ngModel)]="selectedMuscleGroups[day][muscle]" /> {{ muscle }}
          </div>
        </div>
      </div>
    </div>
    <button class="btn next-btn" [disabled]="!areMuscleGroupsSelected()" (click)="nextStep()">Weiter</button>
  </div>


  <div *ngIf="step === 4" class="step-container">
    <h3>Wähle Übungen für die ausgewählten Muskelgruppen</h3>
    <div class="day-box-wrapper">
      <div *ngFor="let day of selectedTrainingDaysList">
        <div class="day-box">
          <h4>{{ dayNames[day] }}</h4>
          <div *ngFor="let muscle of availableMuscleGroups">
            <div *ngIf="selectedMuscleGroups[day][muscle]">
              <label>{{ muscle }}</label>
              <div *ngFor="let exercise of availableExercises">
                <input type="checkbox"
                       [(ngModel)]="selectedExercises[day][muscle][exercise.id]"
                       [value]="exercise.id" /> {{ exercise.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn save-btn" (click)="saveTraining()">Training speichern</button>
  </div>
</div>
