<div class="exercises-container">
  <h2>Übungen</h2>
  <app-menu-button></app-menu-button>
  <div class="exercise-grid">
    <div *ngFor="let exercise of exercises" class="exercise-card">
      <h3 class="exercise-name">{{ exercise.name }}</h3>
      <p class="exercise-description">{{ exercise.description }}</p>
      <p class="exercise-instructions">{{ exercise.instructions || 'Keine Anweisungen verfügbar' }}</p>
      <button class="btn" (click)="selectExercise(exercise)">Übung auswählen</button>
    </div>
  </div>
</div>
