<body>
<div class="welcome-container">
  <div class="welcome-box">
    <h1 class="welcome-header">Welcome to the Training Plan App</h1>
    <p class="welcome-text">
      Your personal training plan is just a click away! Manage your workouts and exercises easily.
    </p>

    <div class="action-buttons">
      <button class="btn" (click)="navigateToRegister()">Register</button>
      <button class="btn secondary" (click)="navigateToLogin()">Already have an account? Login</button>
    </div>
  </div>
</div>
</body>
