<div class="welcome-container">
  <div class="welcome-box">
    <h1 class="welcome-header">Welcome to the Training Plan App</h1>
    <p class="welcome-text">
      Your personal training plan is just a click away! Manage your workouts and exercises easily.
    </p>

    <div class="action-buttons">
      <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
      <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Already have an account? Login</a></li>
    </div>
  </div>
</div>
