.admin-panel {
  padding: 20px;
  background-color: #121212;
  min-height: 100vh;
}

.panel-header {
  text-align: center;
  color: #00bcd4;
  margin-bottom: 20px;
  width: calc(100% - 120px);
}

.admin-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-exercise-container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.exercise-list-container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.exercise-item {
  background-color: #333;
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.exercise-item span {
  color: #00bcd4;
  font-weight: bold;
}

.add-exercise-container input,
.add-exercise-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

button[type="submit"],
button.add-exercise-btn {
  width: 100%;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
}

button[type="submit"]:hover,
button.add-exercise-btn:hover {
  background-color: #555;
}

.exercise-list-container .btn {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exercise-list-container .btn:hover {
  background-color: #555;
}

.remove-exercise-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-exercise-btn:hover {
  background-color: #d32f2f;
}

.show-exercises-btn {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-exercises-btn:hover {
  background-color: #555;
}
