<div class="admin-panel">
  <h2 class="panel-header">Admin Panel</h2>
  <app-menu-button></app-menu-button>

  <button class="btn" (click)="toggleForm()">+ Add Exercise</button>

  <button class="btn" (click)="showAllExercises()">Show All Exercises</button>

  <div *ngIf="isFormVisible" class="add-exercise-form">
    <input [(ngModel)]="newExercise.name" type="text" placeholder="Name" />
    <input [(ngModel)]="newExercise.description" type="text" placeholder="Description" />
    <input [(ngModel)]="newExercise.instructions" type="text" placeholder="Instructions" />

    <button class="btn" (click)="addExercise()">Add Exercise</button>
  </div>

  <div class="exercise-list" *ngIf="exercises.length > 0">
    <h3>Exercises</h3>
    <div class="exercise-item" *ngFor="let exercise of exercises">
      <span>{{ exercise.name }}</span>
      <button class="btn" (click)="removeExercise(exercise.id)">Remove</button>
    </div>
  </div>
</div>
