<div class="auth-container">
  <div class="auth-box">
    <h2 class="auth-header">Register</h2>
    <form (ngSubmit)="register()">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username"  name="username" required />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />
      </div>
      <button type="submit" class="btn">Register</button>
    </form>
    <div class="login-link">
      <p>Already have an account? <a (click)="navigateToLogin()" class="link">Login</a></p>
    </div>
  </div>
</div>
