$primary-color: #00bcd4;
$background-color-dark: #1f1f1f;
$button-color: #444;
$highlight-color: #00bcd4;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

@mixin button-style {
  background-color: $button-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($button-color, 10%);
  }
}

@mixin box-style {
  background-color: $background-color-dark;
  padding: 20px;
  border-radius: 8px;
  box-shadow: $box-shadow;
}

body {
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.dashboard-container {
  padding: 20px;
  min-height: 100vh;
}

.dashboard-header {
  text-align: center;
  color: $primary-color;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(100% - 120px);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.calendar-box {
  @include box-style;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar-cell {
  background-color: #333;
  color: #ccc;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
}

.week-header {
  font-weight: bold;
  background-color: #444;
  color: white;
}

.calendar-date {
  font-weight: bold;
}

.training-details {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  color: $primary-color;
}

.highlight-today {
  background-color: $highlight-color !important;
  color: black !important;
  font-weight: bold;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.box {
  @include box-style;
  width: 48%;
}

.plan-box {
  background-color: #2c2c2c;
  width: 100%;
}

h3 {
  color: $primary-color;
  margin-bottom: 10px;
}

button[type="submit"] {
  width: 100%;
  @include button-style;
}

button[type="submit"]:hover {
  background-color: darken($button-color, 10%);
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  &:hover {
    background-color: #c0392b;
  }
}
.box-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-top: 20px;
  color: white;

  .flappy-box {
    background: #f5f5f5;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    .game-canvas {
      border: 2px solid #000;
      display: block;
      margin: 10px auto;
    }
  }
}
