<div class="account-container">
  <h2>Benutzerauswahl</h2>
  <app-menu-button></app-menu-button>

  <!-- Liste der Benutzer -->
  <div class="user-list">
    <div *ngFor="let user of users" class="user-item">
      <div class="user-header" (click)="toggleDropdown(user.id)">
        <span>{{ user.username }}</span>
        <span class="dropdown-icon">&#9660;</span> <!-- Pfeilsymbol -->
      </div>

      <!-- Details des ausgewählten Benutzers anzeigen -->
      <div *ngIf="user.id === selectedUserId" class="user-details">
        <form #accountForm="ngForm">
          <div class="account-info">
            <div class="info-row">
              <label>Name:</label>
              <span *ngIf="!isEditing">{{ selectedUser?.username }}</span>
              <input *ngIf="isEditing" type="text" [(ngModel)]="selectedUser.username" name="username" />
            </div>

            <div class="info-row">
              <label>E-Mail:</label>
              <span *ngIf="!isEditing">{{ selectedUser?.email?.email }}</span>
              <input *ngIf="isEditing" type="email" [(ngModel)]="selectedUser.email.email" name="email" />
            </div>

            <div class="info-row">
              <label>Alter:</label>
              <span *ngIf="!isEditing">{{ selectedUser?.age }}</span>
              <input *ngIf="isEditing" type="number" [(ngModel)]="selectedUser.age" name="age" />
            </div>

            <div class="info-row">
              <label>Geschlecht:</label>
              <span *ngIf="!isEditing">{{ selectedUser?.geschlecht }}</span>
              <input *ngIf="isEditing" type="text" [(ngModel)]="selectedUser.geschlecht" name="geschlecht" />
            </div>

            <div class="info-row">
              <label>Rolle:</label>
              <span *ngIf="!isEditing">{{ selectedUser?.role }}</span>
              <input *ngIf="isEditing" type="text" [(ngModel)]="selectedUser.role" name="role" />
            </div>

            <div class="action-buttons">
              <button *ngIf="!isEditing" class="btn" (click)="toggleEditMode()">Bearbeiten</button>
              <button *ngIf="isEditing" class="btn" (click)="saveChanges(accountForm)">Speichern</button>
              <button *ngIf="isEditing" class="btn" (click)="cancelEditing()">Abbrechen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
