<div class="dashboard-container">
  <div class="calendar">
    <div class="calendar-header">
      <h2 class="dashboard-header">Upcoming Training Sessions</h2>
      <app-menu-button></app-menu-button>
    </div>

    <div class="calendar-box">
      <div class="calendar-grid">
        <div *ngFor="let weekday of getRotatedWeekDays()" class="calendar-cell week-header">
          {{ weekday.slice(0, 2) }}
        </div>

        <div *ngFor="let day of daysInMonth" class="calendar-cell"
             [ngClass]="{'has-training': dayHasTraining(day), 'highlight-today': day.isToday}">
          <span class="calendar-date">{{ day.date }} {{ day.month }}</span>
          <div *ngIf="dayHasTraining(day)" class="training-details">
            <div *ngFor="let plan of trainingPlans">
              <div *ngIf="isTrainingDay(day.date ?? 0, plan.trainingDays)">
                {{ plan.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="boxes-container">
    <div class="box plan-box">
      <h3>Trainingsplan erstellen</h3>
      <form>
        <button type="submit" class="btn" (click)="createTraining()">Trainingsplan erstellen</button>
      </form>
    </div>

    <div class="box stats-box">
      <h3>Statistiken</h3>
      <p>Trainingshäufigkeit: <span>{{ trainingCount }} Tage</span></p>
      <p>Letztes Training: <span>{{ lastTrainingDate }}</span></p>
      <p>Durchschnittliche Trainingszeit: <span>{{ averageTrainingTime }} Minuten</span></p>
    </div>
  </div>

  <div class="box plans-list-box">
    <div *ngIf="trainingPlans && trainingPlans.length > 0">
      <h3>Trainingspläne</h3>
      <ul>
        <li *ngFor="let plan of trainingPlans">
          <h4 class="trainingsplan-name">{{ plan.name }} (Ziel: {{ plan.goal }})</h4>
          <p class="plan-details">{{ plan.description }}</p>

          <h5>Übungen:</h5>
          <ul class="exercise-list">
            <li *ngFor="let exercise of plan.exercises">
              {{ exercise.name }} - {{ exercise.description }}
            </li>
          </ul>

          <p class="training-days">Trainingstage: {{ formatTrainingDays(plan.trainingDays) }}</p>
        </li>
      </ul>
    </div>

    <div *ngIf="!trainingPlans || trainingPlans.length === 0">
      <p>Keine Trainingspläne verfügbar.</p>
    </div>
  </div>
</div>
