<div class="dashboard-container">
  <div class="calendar">
    <div class="calendar-header">
      <h2 class="dashboard-header">Upcoming Training Sessions</h2>
      <app-menu-button></app-menu-button>
    </div>

    <div class="calendar-box">
      <div class="calendar-grid">
        <div class="calendar-cell week-header">Mo</div>
        <div class="calendar-cell week-header">Di</div>
        <div class="calendar-cell week-header">Mi</div>
        <div class="calendar-cell week-header">Do</div>
        <div class="calendar-cell week-header">Fr</div>
        <div class="calendar-cell week-header">Sa</div>
        <div class="calendar-cell week-header">So</div>

        <div *ngFor="let day of daysInMonth" class="calendar-cell"
             [ngClass]="{'has-training': dayHasTraining(day), 'highlight-today': day.isToday}">
          <span class="calendar-date">{{ day.date }} {{ day.month }}</span>
          <div *ngIf="dayHasTraining(day)" class="training-details">
            <div *ngFor="let training of day.trainings">{{ training.details }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="boxes-container">
    <div class="box plan-box">
      <h3>Trainingsplan erstellen</h3>
      <form>
        <label for="training-name">Trainingsname</label>
        <input type="text" id="training-name" placeholder="Name des Trainings" [(ngModel)]="trainingName" [ngModelOptions]="{standalone: true}">

        <label for="training-description">Beschreibung</label>
        <textarea id="training-description" placeholder="Beschreibung des Trainings" [(ngModel)]="trainingDescription" [ngModelOptions]="{standalone: true}"></textarea>

        <button type="submit" class="btn" (click)="createTraining()">Trainingsplan erstellen</button>
      </form>
    </div>

    <div class="box stats-box">
      <h3>Statistiken</h3>
      <p>Trainingshäufigkeit: <span>{{ trainingCount }} Tage</span></p>
      <p>Letztes Training: <span>{{ lastTrainingDate }}</span></p>
      <p>Durchschnittliche Trainingszeit: <span>{{ averageTrainingTime }} Minuten</span></p>
    </div>
  </div>

  <div class="box plans-list-box">
    <div *ngIf="trainingPlans && trainingPlans.length > 0">
      <h3>Trainingspläne</h3>
      <ul>
        <li *ngFor="let plan of trainingPlans">
          <h4 class="trainingsplan-name">{{ plan.name }} (Ziel: {{ plan.goal }})</h4>
          <p class="plan-details">{{ plan.description }}</p>

          <h5>Übungen:</h5>
          <ul class="exercise-list">
            <li *ngFor="let exercise of plan.exercises">
              {{ exercise.name }} - {{ exercise.description }}
            </li>
          </ul>

          <p class="training-days">Trainingstage: {{ formatTrainingDays(plan.trainingDays) }}</p>
        </li>
      </ul>
    </div>

    <div *ngIf="!trainingPlans || trainingPlans.length === 0">
      <p>Keine Trainingspläne verfügbar.</p>
    </div>
  </div>
</div>
