<div class="admin-panel">
  <h2 class="panel-header">Admin Panel</h2>
  <app-menu-button></app-menu-button>

  <button class="btn add-exercise-btn" (click)="toggleForm()">+ Add Exercise</button>

  <div *ngIf="isFormVisible" class="add-exercise-form">
    <div class="input-container">
      <input [(ngModel)]="newExercise.name" type="text" placeholder="Enter Exercise Name" class="form-input" />
    </div>
    <div class="input-container">
      <textarea [(ngModel)]="newExercise.description" placeholder="Enter Description" class="form-input"></textarea>
    </div>

    <div class="dropdown-container">
      <div class="dropdown">
        <label for="targetMuscles">Target Muscles</label>
        <select multiple [(ngModel)]="newExercise.targetMuscles" id="targetMuscles">
          <option *ngFor="let muscle of muscles" [value]="muscle.id">{{ muscle.name }}</option>
        </select>
      </div>

      <div class="dropdown">
        <label for="devices">Devices</label>
        <select multiple [(ngModel)]="newExercise.devices" id="devices">
          <option *ngFor="let device of devices" [value]="device.id">{{ device.name }}</option>
        </select>
      </div>
    </div>

    <button class="btn add-exercise-btn" (click)="addExercise()">Add</button>
  </div>

  <div class="exercise-list" *ngIf="exercises.length > 0">
    <h3>Exercises</h3>
    <div class="exercise-item" *ngFor="let exercise of exercises">
      <div class="exercise-text">
        <span>{{ exercise.name }}</span>
      </div>
      <button class="btn remove-exercise-btn" (click)="confirmRemove(exercise)">Remove</button>
    </div>
  </div>

  <div *ngIf="showConfirmation" class="confirmation-popup">
    <p>Are you sure you want to delete this exercise?</p>
    <button class="btn confirm-btn" (click)="removeExercise()">Yes</button>
    <button class="btn cancel-btn" (click)="cancelRemove()">No</button>
  </div>
</div>
