<div class="auth-container">
  <div class="auth-box">
    <h2 class="auth-header">Login</h2>
    <form (ngSubmit)="login()">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password"  name="password" required />
      </div>
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <button type="submit" class="btn">Login</button>
    </form>
    <div class="register-link">
      <p>Don't have an account? <a routerLink="/register" class="link">Register</a></p>
    </div>
  </div>
</div>
